.carousel {
  width: 100%;
  padding: 5rem 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slides {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 2%;
}
.slide {
  width: 100%;
  max-width: 25vw;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.slider-container {
  min-height: 450px;
  border-radius: 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #cc401d 100%, #ff7755 100%);
  gap: 16px;
  transition: 0.3s;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.slider-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f9faff;
  text-decoration: none;
}

.slider-icon {
  width: 48px;
  height: 48px;
  color: #f9faff;
}

.homepage-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 2rem;
  background-color: #f9faff;
  border-bottom: 1px solid #e9ecef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.homepage-header-top-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.homepage-header-title {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  display: inline;
  margin-right: 8px;
}

.homepage-header-title-bold {
  font-size: 36px;
  font-weight: 800;
  color: #a32e37;
  display: inline;
}

.homepage-header-description {
  font-size: 16px;
  font-weight: 400;
  color: #999;
  text-align: start;
  width: 60%;
  margin-top: 8px;
}
